
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Bạn đã đặt hàng thành công</h2>
<p> Đơn hàng của quý khách đã được chúng tôi ghi nhận . Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất</p>
<p>@Html.ActionLink("Về trang chủ","Index","BookStore")</p>

