<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nguyennamkhoi-001-site1.etempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8023.site4now.net:8172/msdeploy.axd?site=nguyennamkhoi-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>nguyennamkhoi-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>nguyennamkhoi-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="QuanlybansachEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8003.site4now.net;Initial Catalog=db_a99d4d_login;Persist Security Info=True;User ID=db_a99d4d_login_admin;Password=0327146763Nha" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BookStore.Models.QuanlybansachEntities, BookStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="QuanlybansachEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.quanlybansachModel1.csdl|res://*/Models.quanlybansachModel1.ssdl|res://*/Models.quanlybansachModel1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL8003.site4now.net;Initial Catalog=db_a99d4d_login;Persist Security Info=True;User ID=db_a99d4d_login_admin;Password=0327146763Nha"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>